<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Social media analytics site</title>
  <!-- Include style per-controller - vendor plugins -->
  <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

  <!-- Main css styles -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Main javascript files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="fixed-sidebar">

  
<script>
function statusChangeCallback(response) {
    
    if (response.status === 'connected') {
      setElements(true);
      testApi();
      console.log("logged in authenticated");
    } else {
      setElements(false); 
      console.log("logged out and not authenticated");
      console.log(response);
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1836170400033998',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };
  
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
   function statusChangeCallback(response) {
     if(response.status === "connected") {
       setElements(true);
       testApi();
       console.log("logged in authenticated");
      
     }else if(response.status==='unknown') {  
       setElements(false);  
       console.log("logged out and not authenticated");
       console.log(response); 
     }
   }
    
   function setElements(isLoggedIn){
     if(isLoggedIn){
       document.getElementById("profile").style.display = "block";
       document.getElementById("fb-login").style.display = "none";
       
     }else {
       console.log("logged out");
       document.getElementById("profile").style.display = "none";
       document.getElementById("fb-login").style.display = "block";
     }
   }
   
   function logout() {
     FB.logout(function(response){
       setElements(false);
     });
   }
   
   function login() {
     FB.login(function(response) {
       setElements(true);
       testApi();
     });
   }
     
   function testApi(){
     FB.api('/me?fields=name,email,likes,posts,birthday,location,id', function(response){
       if(response && !response.error){
         fillUserInfo(response);
       }
     
       FB.api('/me?fields=feed{created_time,id,message,story,picture,reactions,comments,shares}' , function(response){
         if(response && !response.error){
           fbInfo(response);
         } 
       });
     })
   }
   
   function fillUserInfo(user){
     let userInfo = ` 
      <h3>Welcome ${user.name} from ${user.location.name}</h3>`;
       document.getElementById("fb-info").innerHTML= userInfo ;
   }
   
   function fbInfo(feed){ 
     let output = `<h3>Latest Posts</h3>`;
     var num = 1;
     
     for(let i in feed.feed.data){
       var likeNum = 0;
       var shareNum=0;
       if(feed.feed.data[i].shares){  
         shareNum= feed.feed.data[i].shares.count;  
       }
       
       if(feed.feed.data[i].message){
         output += `<ul style=list-style-type:none;>
           <li class="list-group-item fist-item well">
             <span class="label label-success pull-left">${num}</span><br />
             ${feed.feed.data[i].message} <br /> 
             <i><b> ${feed.feed.data[i].created_time}</b></i>
         </li>
         `;
       } else if(feed.feed.data[i].story){
         output += `<ul style=list-style-type:none;>
           <li class="list-group-item fist-item well">
             <span class="label label-success pull-left">${num}</span><br />
             ${feed.feed.data[i].story} <br /> 
             <i><b> ${feed.feed.data[i].created_time}</b></i> </li> 
         `;
       }
           
       num++;
       
       if(feed.feed.data[i].picture){  
         output += `
           <li><img src= ${feed.feed.data[i].picture} style="max-width:100%;max-height:100%;object-fit:contain;"></li>
         `;
       }
       
       if(feed.feed.data[i].reactions){
         for(let y in feed.feed.data[i].reactions.data){
           if(feed.feed.data[i].reactions.data[y].type == "LIKE" || feed.feed.data[i].reactions.data[y].type == "LOVE" || feed.feed.data[i].reactions.data[y].type == "HAHA"){
             likeNum ++;
           }
         }
         output += `
         <li>${likeNum} Likes</li>
         <li>${shareNum} Shares</li>
       `;
       }
        
       if(feed.feed.data[i].comments){
           output += `<h4><i>Comments</i></h4>`;
         for(let c in feed.feed.data[i].comments.data){
           output += ` 
             <ul>
               <li>${feed.feed.data[i].comments.data[c].message} <br /><i>${feed.feed.data[i].comments.data[c].from.name}</i></li>
             </ul>
           `;
         }
       }
       output += `
       </ul>
       `;
       
       document.getElementById("feed").innerHTML = output;
     } 
   }   
</script> 

<!-- Skin configuration box -->
<!-- <%= render 'layouts/skinconfig' %> -->

    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>

            <!-- Main view  -->
            <% if flash[:notice] %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:notice] %>
              </div>
            <% elsif flash[:alert] %>
              <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:alert] %>
              </div>
            <% end %>  
            <%= yield %>

            <!-- Footer -->
            <%= render 'layouts/footer' %>

        </div>
        <!-- End page wrapper-->

        <!-- Right sidebar -->
        <%= render 'layouts/rightsidebar' %>

    </div>
    <!-- End wrapper-->

    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>

</body>
</html>
