<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Social media analytics site</title>
  <!-- Include style per-controller - vendor plugins -->
  <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

  <!-- Main css styles -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Main javascript files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="fixed-sidebar">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1836170400033998',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    
    });  
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
   function statusChangeCallback(response) {
     if(response.status === "connected") {
       console.log("Logged in and authenticated");
       setElements(true);
       testApi();
     }  else {
       console.log("Not authenticated");
       setElements(false);
     }
   }
   
   function checkLoginState() {
     FB.getLoginStatus(function(response) {
       statusChangeCallback(response);
     });
   }
   
   function setElements(isLoggedIn){
     if(isLoggedIn){
       document.getElementById("profile").style.display = "block";
       document.getElementById("fb-login").style.display = "none";
     } else {
       document.getElementById("profile").style.display = "none";
       document.getElementById("fb-login").style.display = "block";
     }
   }
   
   function logout() {
     FB.logout(function(response){
       setElements(false);
     });
   }
   
   function testApi(){
     FB.api('/me?fields=name,email,likes,posts,birthday,location,id', function(response){
       if(response && !response.error){
         //console.log(response);
         fillUserInfo(response);
       }
       
        FB.api('/me/feed', function(response){
          if(response && !response.error){
            buildFeed(response);
          }
          
          FB.api('/me?fields=feed{likes}', function(response){
            if(response && !response.error){
             // console.log(response.posts.data[0].likes);
              postLikes(response);
            }
         // });
          // FB.api('/me?fields=feed{id,message,story,picture,reactions}', function(response){
          //   if(response && !response.error){
          //     postInfo(response);
          //   }
          });
        });
     })
   }
   
  
   
   
   function buildFeed(feed){
     let output = `<h3>Latest Posts</h3>`;
     var num = 1;
     var likeNum = 0;
     for(let i in feed.data){
       if(feed.data[i].message){
         output += `
          <li class="list-group-item fist-item well">
            <span class="label label-success pull-left">${num}</span><br />
            ${feed.data[i].message} <br /> 
            <i><b> ${feed.data[i].created_time}</b></i>
            <div id="fb-like${likeNum}" class="text-success"></div>
          </li>
          `;
       }else if(feed.data[i].story){
         output += `
          <li class="list-group-item fist-item well">
            <span class="label label-success pull-left">${num}</span><br />
            ${feed.data[i].story} <br /> 
            <i><b> ${feed.data[i].created_time}</b></i>
            <div id="fb-like${likeNum}" class="text-success"></div>
          </li>
          `;
       }
       num ++;
       likeNum ++;  
       
       
     }
     document.getElementById("feed").innerHTML = output;
   }
   var fbLikes=[];
   function postLikes(likes){
     var count = 0;
     for(let i in likes.feed.data){
        var likeCount; 
        var likeDiv= "fb-like"+count;
       if(likes.feed.data[i].likes){
         //if(likes.posts.data[i].likes.data){
           likeCount = likes.feed.data[i].likes.data;
           document.getElementById(likeDiv).innerHTML=  likeCount.length + " likes";
           //fbLikes.push(likes.posts.data[i].likes.data.length);
         }else {
             //likeCount = likes.posts.data[i].likes.data;
           document.getElementById(likeDiv).innerHTML= "0 likes";
         }
         count ++;
         //console.log(likes.posts.data[i].likes.data.length);
           
      }
    }
     
     //document.getElementById().innerHTML = output;
    
   function fillUserInfo(user){
     let userInfo = ` 
      <h3>Welcome ${user.name} from ${user.location.name}</h3>`;
       document.getElementById("fb-info").innerHTML= userInfo ;
   }
   
</script>


<!-- Skin configuration box -->
<!-- <%= render 'layouts/skinconfig' %> -->

    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>

            <!-- Main view  -->
            <% if flash[:notice] %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:notice] %>
              </div>
            <% elsif flash[:alert] %>
              <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:alert] %>
              </div>
            <% end %>  
            <%= yield %>

            <!-- Footer -->
            <%= render 'layouts/footer' %>

        </div>
        <!-- End page wrapper-->

        <!-- Right sidebar -->
        <%= render 'layouts/rightsidebar' %>

    </div>
    <!-- End wrapper-->

    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>

</body>
</html>
